<div>
    <div style="text-align:center">
       <i>Tab Demo Example</i> 
    </div>
        <hr>
        <div>
               
             <a [routerLink]="['/allstatus']"> All Status</a><br>
             <a [routerLink]="['/work']"> Work in Progress</a><br>
             <a [routerLink]="['/submitted']"> Submitted</a><br>
             <a [routerLink]="['/closed']"> Closed</a><br>

        </div>
        <br>
       <!-- {label: 'All Status', link: 'allstatus'},
        {label: 'Work in Progress', link: 'work'},
        {label: 'Submitted', link: 'submitted'},
        {label: 'Closed', link: 'closed'}]; -->


    <app-datepicker></app-datepicker>

    <div>
        <nav md-tab-nav-bar aria-label="weather navigation links">
            <a md-tab-link *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="routeLink.link" [active]="activeLinkIndex === i"
                (click)="activeLinkIndex = i">
             {{routeLink.label}}
         </a>
        </nav>
        <router-outlet> </router-outlet>
    </div>
</div>
